<div class="body-container">
	<div class="splash-container container">
		<a name="top"></a>
		<div class="splash-img-placeholder">
			<div class="splash-text">
				<div class="splash-title">Spark Entrepreneurship</div>
				<div class="splash-subtitle">A community of entrepreneurs at the University of Rochester</div>
			</div>
		</div>
	</div>
</div>