<div class="nav-container">
	<div class="nav-contents">
		<div class="nav">
			<div class="nav-left">
				<a href="#top"><div class="nav-left-item-container"><div class="nav-left-item">Spark Entrepreneurship</div></div></a>
			</div>
			<div class="nav-right">
				<a href="#about"><div class="nav-right-item-container"><div class="nav-right-item">About</div></div></a>
				<a href="#events"><div class="nav-right-item-container"><div class="nav-right-item">Events</div></div></a>
				<a href="#resources"><div class="nav-right-item-container"><div class="nav-right-item">Resources</div></div></a>
				<a href="#contact"><div class="nav-right-item-container"><div class="nav-right-item">Contact Us</div></div></a>
			</div>
		</div>
	</div>
</div>
<div class="fixed-nav-container">
	<div class="fixed-nav-contents">
		<div class="fixed-nav">
			<div class="nav-left">
				<a href="#top"><div class="nav-left-item-container"><div class="nav-left-item">Spark Entrepreneurship</div></div></a>
			</div>
			<div class="nav-right">
				<a href="#about"><div class="nav-right-item-container"><div class="nav-right-item">About</div></div></a>
				<a href="#events"><div class="nav-right-item-container"><div class="nav-right-item">Events</div></div></a>
				<a href="#resources"><div class="nav-right-item-container"><div class="nav-right-item">Resources</div></div></a>
				<a href="#contact"><div class="nav-right-item-container"><div class="nav-right-item">Contact Us</div></div></a>
			</div>
		</div>
	</div>
</div>
<div class="body-container">
	<div class="splash-container container">
		<a name="top"></a>
		<div class="splash-img-placeholder">
			<div class="splash-text">
				<div class="splash-title">Spark Entrepreneurship</div>
				<div class="splash-subtitle">A community of entrepreneurs at the University of Rochester</div>
			</div>
		</div>
	</div>
	<div class="about-container container light-bg">
		<a class="locallink" name="about"></a>
		<div class="header header-dark">About Us</div>
		<div class="content text">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras consequat, neque quis sagittis euismod, elit arcu congue mi, sit amet tincidunt leo magna quis lorem. Pellentesque et sagittis orci. Nullam lacinia, tortor rutrum cursus luctus, mauris risus aliquet urna, at ornare velit mauris ut enim. Suspendisse maximus vel urna ut ornare. Nam bibendum erat turpis, id eleifend diam aliquam eu. Integer eu risus et elit viverra commodo ut sit amet risus. Aenean aliquam ligula vitae nisl lobortis, pharetra porttitor diam dapibus. Nullam fringilla consequat turpis, sed finibus mauris rutrum et. Morbi ornare rutrum nibh, id condimentum arcu. Sed auctor dignissim feugiat. Morbi a massa augue. Maecenas in magna at odio gravida faucibus at eget orci.

		<br><br>Vivamus vitae lectus nisl. Integer mollis commodo arcu, non egestas neque. In hac habitasse platea dictumst. Nulla molestie dolor ac tempor hendrerit. Duis vitae massa non lorem rutrum maximus quis sed turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer euismod dolor commodo nisi aliquet, id facilisis tellus interdum.
		</div>
	</div>
	<div class="events-container container dark-bg">
		<a class="locallink" name="events"></a>
		<div class="header header-light">Upcoming Events</div>
		<div class="content event-container">
			<div class="event"></div>
			<div class="event"></div>
			<div class="event"></div>
		</div>
	</div>
	<div class="resources-container container light-bg">
		<a class="locallink" name="resources"></a>
		<div class="header header-dark">Resources</div>
		<div class="content filler"></div>
	</div>
	<div class="members-container container dark-bg">
		<div class="header header-light">Who We Are</div>
		<div class="content filler">
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Jesse Reichenstein</div>
				<div class="profile-title">President</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">John Donner</div>
				<div class="profile-title">Vice President</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Rylan Blowers</div>
				<div class="profile-title">Business Manager</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Carolyn Sohmer</div>
				<div class="profile-title">Director of Programming</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Asad Muhammad</div>
				<div class="profile-title">Director of Education</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Callum Breene</div>
				<div class="profile-title">Director of Community</div>
			</div>
			<div class="profile">
				<div class="profile-pic"></div>
				<div class="profile-name">Abby Wang</div>
				<div class="profile-title">Director of Marketing</div>
			</div>
		</div>
	</div>
	<div class="contact-container container light-bg">
		<a class="locallink" name="contact"></a>
		<div class="header header-dark">Contact Us</div>
		<div class="content filler"></div>
	</div>
</div>