<div class="nav-container">
	<div class="nav">
		<div class="nav-left">
			<a href="#">Spark Entrepreneurship</a>
		</div>
		<div class="nav-right">
			<a href="#"><div class="nav-right-item-container"><div class="nav-right-item">item</div></div></a>
			<a href="#"><div class="nav-right-item-container"><div class="nav-right-item">item</div></div></a>
			<a href="#"><div class="nav-right-item-container"><div class="nav-right-item">item</div></div></a>
		</div>
	</div>
</div>
<div class="body-container">
	<div class="splash-container">
		<div class="img-placeholder"></div>
	</div>
	<div class="about-container">
		<div class="img-placeholder"></div>
	</div>
	<div class="events-container">
		<div class="img-placeholder"></div>
	</div>
	<div class="members-container">
		<div class="img-placeholder"></div>
	</div>
	<div class="contact-container">
		<div class="img-placeholder"></div>
	</div>
	<div class="footer-container">
		<div class="img-placeholder"></div>
	</div>
</div>