<div class="body-container">
	<div class="splash-container container">
		<a name="top"></a>
		<div class="splash-img-placeholder">
			<div class="splash-text">
				<div class="splash-title">Spark Entrepreneurship</div>
				<div class="splash-subtitle">A community of entrepreneurs at the University of Rochester</div>
			</div>
		</div>
		<div class="content ">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="//squarespace.us3.list-manage.com/subscribe/post?u=8b8d9268e8dfa61298a90dbb1&amp;id=28383b841c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Stay updated with our events, subscribe to our mailing list!</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b8d9268e8dfa61298a90dbb1_28383b841c" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
		<div class="content">
			<div class="connect">Get in touch with us!</div>
			<div class="spark-email">email: sparkentrepreneurship@gmail.com</div>
		</div>
	</div>
</div>