<div class="nav-container">
	<div class="nav-contents">
		<div class="nav">
			<div class="nav-left">
				<a href="#top"><div class="nav-left-item-container"><div class="nav-left-item">Spark Entrepreneurship</div></div></a>
			</div>
			<div class="nav-right">
				<a href="#about"><div class="nav-right-item-container"><div class="nav-right-item">About</div></div></a>
				<a href="#events"><div class="nav-right-item-container"><div class="nav-right-item">Events</div></div></a>
				<a href="#resources"><div class="nav-right-item-container"><div class="nav-right-item">Resources</div></div></a>
				<a href="#contact"><div class="nav-right-item-container"><div class="nav-right-item">Contact Us</div></div></a>
			</div>
		</div>
	</div>
</div>
<div class="fixed-nav-container">
	<div class="fixed-nav-contents">
		<div class="fixed-nav">
			<div class="nav-left">
				<a href="#top"><div class="nav-left-item-container"><div class="nav-left-item">Spark Entrepreneurship</div></div></a>
			</div>
			<div class="nav-right">
				<a href="#about"><div class="nav-right-item-container"><div class="nav-right-item">About</div></div></a>
				<a href="#events"><div class="nav-right-item-container"><div class="nav-right-item">Events</div></div></a>
				<a href="#resources"><div class="nav-right-item-container"><div class="nav-right-item">Resources</div></div></a>
				<a href="#contact"><div class="nav-right-item-container"><div class="nav-right-item">Contact Us</div></div></a>
			</div>
		</div>
	</div>
</div>
<div class="body-container">
	<div class="splash-container container">
		<a name="top"></a>
		<div class="splash-img-placeholder">
			<div class="splash-text">
				<div class="splash-title">Spark Entrepreneurship</div>
				<div class="splash-subtitle">A community of entrepreneurs at the University of Rochester</div>
			</div>
		</div>
	</div>
	<div class="about-container container light-bg">
		<a class="locallink" name="about"></a>
		<div class="content">
			<div class="header header-dark">About Us</div>
			<!-- Move headers here for other divs -->
			<div class="text">
				Spark is a community of students who are passionate about entrepreneurship and innovation. We strive to spread the entrepreneurial spirit and mindset to everyone through example and engagement.

				<br><br>Our group focuses on three main fronts. We provide internal, educational events that help our members grow and learn as entrepreneurs. We schedule social events that are built to help connect those who are members, and to network our members with those who are outside the Spark community. We also plan campus-wide events, with the goal of improving exisitng entrepreneurs, and exposing other college students to the idea of entrepreneurship.
			</div>
			<div class="mc-mock-box"></div>
		</div>
	</div>
	<div class="events-container container dark-bg">
		<a class="locallink" name="events"></a>
		<div class="header header-light">Upcoming Events</div>
		<div class="content event-container">
			<div class="event"></div>
			<div class="event"></div>
			<div class="event"></div>
		</div>
		<div class="content">
			<!-- Begin MailChimp Signup Form -->
			<!-- Begin MailChimp Signup Form -->
			<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
				/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
				   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
			</style>
			<div id="mc_embed_signup">
			<form action="//club.us3.list-manage.com/subscribe/post?u=8b8d9268e8dfa61298a90dbb1&amp;id=28383b841c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<h2>Subscribe to our mailing list</h2>
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
			<div class="mc-field-group">
				<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
			</label>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
			</div>
			<div class="mc-field-group">
				<label for="mce-FNAME">First Name </label>
				<input type="text" value="" name="FNAME" class="" id="mce-FNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-LNAME">Last Name </label>
				<input type="text" value="" name="LNAME" class="" id="mce-LNAME">
			</div>
			<div class="mc-field-group">
				<label for="mce-YEAR">Class Year </label>
				<input type="text" value="" name="YEAR" class="" id="mce-YEAR">
			</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b8d9268e8dfa61298a90dbb1_28383b841c" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='YEAR';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
			<!--End mc_embed_signup-->
			<!-- old mail chimp 
			<div id="mc_embed_signup">
			<form action="//squarespace.us3.list-manage.com/subscribe/post?u=8b8d9268e8dfa61298a90dbb1&amp;id=28383b841c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Stay updated with our events, subscribe to our mailing list!</label>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
			    <!- real people should not fill this in and expect good things - do not remove this or risk form bot signups
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_8b8d9268e8dfa61298a90dbb1_28383b841c" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>
			-->
			<!--End mc_embed_signup-->
		</div>
	</div>
	<div class="resources-container container light-bg">
		<a class="locallink" name="resources"></a>
		<div class="header header-dark">Resources</div>
		<div class="content filler"></div>
	</div>
	<div class="members-container container dark-bg">
		<div class="header header-light">Who We Are</div>
		<div class="content filler">
			<div class="row">
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Jesse Reichenstein</div>
					<div class="profile-title">President</div>
				</div>
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">John Donner</div>
					<div class="profile-title">Vice President</div>
				</div>
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Rylan Blowers</div>
					<div class="profile-title">Business Manager</div>
				</div>
			</div>
			<div class="row">
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Carolyn Sohmer</div>
					<div class="profile-title">Director of Programming</div>
				</div>
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Asad Muhammad</div>
					<div class="profile-title">Director of Education</div>
				</div>
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Callum Breene</div>
					<div class="profile-title">Director of Community</div>
				</div>
				<div class="profile">
					<div class="profile-pic"></div>
					<div class="profile-name">Abby Wang</div>
					<div class="profile-title">Director of Marketing</div>
				</div>
				<div id="fb-root" class="fb_reset"></div>
			</div>
		</div>
	</div>
	<div class="contact-container container light-bg">
		<a class="locallink" name="contact"></a>
		<div class="header header-dark">Contact Us</div>
		<div class="content filler"></div>
	</div>
</div>