/* variables */

$side-margin: 100px; // 50px for margin
// $side-margin-rightnav: 35px; // adjusted right margin for navbar
$side-margin-rightnav: 85;
$content-width: 960px;

$flatui-silver: #bdc3c7;
$dark-grey: #222;
$flatui-yellow: #f1c40f;

/* preliminary general stuff */

a {
	color: #ccc;
	text-decoration: none;
	&:hover {
		color: #eee;
		// text-shadow: 0px 0px 50px #eee;
	}
}

.img-placeholder {
	width: 100%;
}

.light-bg {
	background-color: $flatui-yellow;
}

.dark-bg {
	background-color: $dark-grey;
}

.grey-bg {
	background-color: #333;
}

.container {
	position: relative;
	.locallink {
		position: absolute;
		top: -70px;
	}
}

/* navigation */

// page/splash navigation
.nav-container {
	z-index: 100;
	position: absolute;
	width: 100%;
	.nav-contents {
		position: relative;
		height: 70px;
		width: 100%;
		.nav {
			position: relative;
			// top: -100px;
			// height: 70px;
			width: $content-width;
			margin: 0 auto 0 auto;
			padding: 0 $side-margin-rightnav 0 $side-margin;
			a {
				color: #000;
				&:hover {
					color: #fff;
					// text-shadow: 0px 0px 8px #fff;
				}
			}
			.nav-left {
				display: inline;
				float: left;
				// margin-left: $side-margin;
				.nav-left-item-container {
					display: inline-block;
					.nav-left-item {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						height: 70px;
						// padding: 0 20px 0 20px;
					}
				}
/*
				// make it center vertically
				position: relative;
				top: 50%;
				transform: translateY(-50%);
*/
			}
			.nav-right {
				display: inline;
				float: right;
				// margin-right: $side-margin-rightnav;

				.nav-right-item-container {
					display: inline-block;
					// overflow: auto;
					margin-left: 10px;
					.nav-right-item {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						height: 70px;
						padding: 0 15px 0 15px;
						// min-width: 80px;
					}
				}
			}
		}
	}
}

// slide down navigation
.fixed-nav-container {
	z-index: 99;
	position: fixed;
	width: 100%;
	.fixed-nav-contents {
		position: relative;
		top: -100px;
		height: 70px;
		width: 100%;
		background: rgb(20, 20, 20); /* Fall-back for browsers that don't support rgba */
    	background: rgba(20, 20, 20, .9);
		// background-color: #999;
		box-shadow: 0px 0px 20px #000;
		.fixed-nav {
			position: relative;
			// top: -100px;
			// height: 70px;
			width: $content-width;
			margin: 0 auto 0 auto;
			padding: 0 $side-margin-rightnav 0 $side-margin;
			
			.nav-left {
				display: inline;
				float: left;
				// margin-left: $side-margin;
				.nav-left-item-container {
					display: inline-block;
					.nav-left-item {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						height: 70px;
						// padding: 0 20px 0 20px;
					}
				}
/*
				// make it center vertically
				position: relative;
				top: 50%;
				transform: translateY(-50%);
*/
			}
			.nav-right {
				display: inline;
				float: right;
				// margin-right: $side-margin-rightnav;

				.nav-right-item-container {
					display: inline-block;
					// overflow: auto;
					// margin-left: 10px;
					.nav-right-item {
						display: table-cell;
						text-align: center;
						vertical-align: middle;
						height: 70px;
						padding: 0 15px 0 15px;
						// min-width: 80px;
					}
				}
			}
		}
	}
}


/* body and content */

body {
	background-color: #eaeaea;
	min-width: $content-width;
	color: $dark-grey;
}

.splash-container {
	width: 100%;
	.splash-img-placeholder {
		height: 700px;
		width: 100%;
		background-image: image-url("splash3.jpg");
		background-size: 1500px;
		background-position: center;
		background-color: #eee;
		.splash-text {
				// margin: 0 auto 0 auto;
				// width: 960px;
				// height: 155px;
				text-align: center;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				// border: 5px solid #ffffff;
			.splash-title {
				font-weight: 700;
				font-size: 5em;
				color: #ffffff;
				text-shadow: 0px 0px 50px #000;
				margin-bottom: 10px;
			}
			.splash-subtitle {
				font-size: 2em;
				color: #ffffff;
				text-shadow: 0px 0px 10px #000;
			}
		}
	}
}

.header {
	font-size: 2em;
	font-weight: 700;
	margin: 0 auto 0 auto;
	padding: 80px 0 50px 0;
	text-align: center;
}

.header-dark {
	color: #333;
}

.header-light {
	color: #ededed;
}

.filler {
	height: 500px;
}

.content {
	width: $content-width;
	min-width: $content-width;
	margin: 0 auto 0 auto;
	// margin: 0 $side-margin 0 $side-margin;
	padding: 0 $side-margin 80px $side-margin;
}

.text {
	text-align: center;
	line-height: 1.3em;
	font-size: 1.5em;
	color: #333;
}

// event container is special class with css trick for equidistant css divs
.event-container {
	text-align: justify;
}

.event {
	display: inline-block;
	width: 300px;
	height: 300px;
	background-color: #ededed;
	// margin-bottom: 30px;
}

// special after css for the equidistant blocks trick... 
.event-container:after {
	content: '';
	width: 100%;
	display: inline-block;
}

// MailChimp signup form
#mc_embed_signup {
	// background-color: #efefef;
	display: block;
	position: relative;
	text-align: center;
	padding: 0 0 0 0;
	width: 100%;
	margin: 0 auto 0 auto;
	label {
		display: block;
		font-size: 1.5em;
		// padding-bottom: 10px;
		font-weight: bold;
		padding: 10px 0 10px 0;
	}
	input.email {
		display: block;
		padding: 8px 0;
		margin: 0 auto 10px auto;
		// margin-bottom: 10px;
		text-indent: 5px;
		width: 58%;
		min-width: 130px;
	}
	input.button {
		display: block;
		width: 35%;
		margin: 0 auto 10px auto;
		min-width: 90px;
	}
	.button {
		clear: both;
		background-color: #aaa;
		border: 0 none;
		border-radius: 4px;
		color: #FFFFFF;
		cursor: pointer;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		height: 32px;
		line-height: 32px;
		margin: 0 5px 10px 0;
		padding: 0;
		text-align: center;
		text-decoration: none;
		vertical-align: top;
		white-space: nowrap;
		width: auto;
		&:hover {
			background-color: #777;
		}
	}
}

#mc-embedded-subscribe-form {
	padding: 0 0 0 0;
}

// who we are
.row {
	width: 100%;
	text-align: center;
	margin: 0 0 30px 0;
}

.profile {
	display: inline-block;
	text-align: center;
	width: 200px;
	.profile-pic {
		background-color: #ededed;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		margin: 0 auto 0 auto;
	}
	.profile-name {
		font-size: 1.2em;
		margin: 10px 0 0px 0;
	}
	.profile-title {
		font-size: .8em;
		font-weight: 300;
	}
}


